*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}



main{
    height: 100%;
    width: 100%;
    background-color: black;
    
}

nav{
    height: 80px;
    width: 100%;
    background-color:rgb(0, 225, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.part{
    height: 100%;
    width: 15%;
    background-color:royalblue ;
}

.part:nth-child(2){
    width: 50%;
}


section.center{
    height: 150px;
    width: 100%;
    background-color: rgb(230, 51, 173);

    display: flex;
    justify-content: center;
}

.center-text{
    width: 50%;
    text-align: center;
    padding: 50px;
}
.center-text h1{
    font-size: 50px;
}